root=true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf8
insert_final_newline = true

[*.js]
indent_style = space
indent_space = 2

[*.json]
indent_style = space
indent_space = 2

[*.yaml]
indent_style = space
indent_space = 2
